{% extends 'base/main.html' %}
{% load static %}

{% block title %} Регистрация нового пользователя    {% endblock %}

{% block category %}
    {% if  category  %}
        {% for cat in category %}

        <li><a href="/{{cat.0}}"> {{cat.1}}</a></li>
        {% endfor %}
    {% else %}
        <p> Категории отсутсвуют</p>
    {% endif %}
{% endblock%}

{% block text %}
<center>
     <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title"><h2>Регистрация</h2></h1>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {% csrf_token %}
                <table class="table">
                {% for field in form %}
                    <tr>
                        <td><h4><b>{{ field.label }}</b></h4> </td>
                        <td><p><h3>{{ field }}</h3></p>
                                <p>{{ field.errors }}</p></td>
                    </tr>
                {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary navbar-btn" >Зарегистрироваться</button>
                <input type="hidden" name="next" value="{{next}}">
            </form>
                    </div>
    </div>
</center>


{% endblock %}