{% extends 'base/main.html' %}
{% block text %}
{% if  pols  %}
    {{ pols }}
{% endif %}
    <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {% for field in form %}
                        <tr>
                            <td><h4><b>{{ field.label }}</b></h4> </td>
                            <td><p><h3>{{ field }}</h3></p> </td>
                        </tr>
                    {% endfor %}
                </table>
                <button type="submit" class="btn btn-primary navbar-btn" >
                    {% if  button_text  %}
                        {{ button_text }}
                    {% else %}
                    ЗАРЕГИСТРИРОВАТЬСЯ
                    {% endif %}
                </button>
                <input type="hidden" name="next" value="{{next}}">
            </form>
{% endblock %}