<center>
        <div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if  page_obj.has_previous  %}

                        {% if  category_now  %}
                            <li>
                                <a href="{% url 'index' category=category_now%}?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            {% if  author_name  %}
                                <li>
                                    <a href="{% url 'authors' author_name%}?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                            {% else %}
                            <li>
                                <a href="{% url 'index' %}?page={{page_obj.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if  page_obj.has_other_pages  %}
                        {% for pn in page_obj.paginator.page_range %}
                            {% if  category_now  %}
                                {% if  pn != page_obj.number  %}
                                    <li>
                                        <a href="{% url 'index' category=category_now %}?page={{ pn }}">{{ pn }}</a>
                                    </li>
                                {% else %}

                                    <li class="active">
                                        <a href="">{{ pn }} <span class="sr-only">(current)</span></a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if  author_name  %}
                    <!-- ---------------------------------------------------------- -->
                                    {% if  pn != page_obj.number  %}
                                        <li>
                                            <a href="{% url 'authors' author_name%}?page={{ pn }}">{{ pn }}</a>
                                        </li>
                                    {% else %}
                                        <li class="active">
                                            <a href="">{{ pn }} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% endif %}
                    <!-- ---------------------------------------------------------- -->

                                {% else %}
                                    {% if  pn != page_obj.number  %}
                                        <li>
                                            <a href="{% url 'index' %}?page={{ pn }}">{{ pn }}</a>
                                        </li>
                                    {% else %}
                                        <li class="active">
                                            <a href="">{{ pn }} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% endif %}
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if  page_obj.has_next  %}
                        {% if  category_now  %}
                            <li>
                                <a href="{% url 'index' category=category_now %}?page={{page_obj.next_page_number}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                            </li>
                        {% else %}
                            {% if  author_name  %}
                                <li>
                                    <a href="{% url 'authors' author_name%}?page={{page_obj.next_page_number}}" aria-label="Previous">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>

                            {% else %}
                                <li>
                                 <a href="{% url 'index' %}?page={{page_obj.next_page_number}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                             </li>
                    {% endif %}
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
         </div>
    </center>